/*Header*/
header{
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content:space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  /*Border doesn't reach all the way across on left side. Ask for someone to check code to fix*/
  border-bottom: 1px solid black;
}
.logo{
  display: flex;
  color: MediumAquamarine;
  align-items: center;
}
.title{
  padding: 0px 10px;
}
.navigation{
  display: flex;
  padding: 0px 40px;
}
.navigation span{
  display: inline-flex;
  justify-content: space-between;
  padding: 0px 10px;
}
a{
  color: black;
}
/*Main Content*/
.container{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding-top: 30px;
}
.column{
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-between;
  margin-right: 32px;
}
.column.large{
  width: 600px;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
}
div{
  border: 1px solid black;
}
